
 <aside class="shop-sidebar" style="padding-left:130px;">
    <div class="widget shop-widget">
        <div class="shop-widget-title">
            <h6 class="title"><img src="{{url_for('static', filename='img/leftbar/file.png')}}" style="margin-right: 10px; margin-left: -5px; width: 13px; height: 13px" />订单管理</h6>
        </div>
        <div class="shop-cat-list">
            <ul>
                <li><a id="order" href="{{ url_for('user.order') }}">我的订单</a></li>
                <li><a id="publish" href="{{ url_for('user.publish') }}">我的发布</a></li>
                <li><a id="publish" href="{{ url_for('user.favor') }}">我的收藏</a></li>
                <li><a id="publish" href="{{ url_for('user.history') }}">我的足迹</a></li>
            </ul>
        </div>
    </br>
        <div class="shop-widget-title">
            <h6 class="title"><img src="{{url_for('static', filename='img/leftbar/我的买啦.png')}}" style="margin-right: 10px; margin-left: -5px; width: 13px; height: 13px" />我的账户</h6>
        </div>
        <div class="shop-cat-list">
            <ul>
                <li><a id="publish" href="{{ url_for('user.user_info',opt_userid=current_user.id) }}">个人资料</a></li>
                <li><a id="publish" href="{{ url_for('user.address') }}">地址管理</a></li>
            </ul>
        </div>

        <dt></dt>
</aside>
    <!-- <div class="widget shop-widget">
        <div class="shop-widget-title">
            <h6 class="title">Filter By Price</h6>
        </div>
        <div class="price_filter">
            <div id="slider-range"></div>
            <div class="price_slider_amount">
                <span>Price :</span>
                <input type="text" id="amount" name="price" placeholder="Add Your Price" />
            </div>
        </div>
    </div>
    -->
