{% extends "base.html" %} {% block title %}
<title>我的订单</title>
{% endblock %} {% block css %} {{ super() }} {% endblock %} {% block header %} {{ super() }} {% endblock %} {% block main %}
<main>
    <section class="slider--area pb=20" data-background="{{url_for('static', filename='img/bg/slider_area_bg2.jpg')}}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 d-lg-block">{% include "cont_side.html" %}</div>
                <table>
                    <tbody id="my_order"></tbody><table>
                <div class="col-10 d-lg-block"></div>
            </div>
        </div>
    </section>
</main>
{% endblock %} {% block footer %} {{ super() }} {% endblock %} {% block js %} {{ super() }}

<script type="text/javascript" charset="utf-8">
    var debug = 0;
    $(document).ready(function () {
        let url = "/api/get_order";
        if (debug) url = `http://127.0.0.1:4523/mock/927026${url}`;
        $.ajax({
            url: url,
            type: "GET",
            success: function (ret) {
                console.log(ret);
                if (ret.statusCode != 200) {
                    window.alert(ret.message);
                    window.location.href = "{{url_for('index')}}";
                } else {
                    let tbody = $("#my_order");
                    for (let i = 0; i < ret.data.length; i++) {
                        let order_id=ret.data[i].order_id;
                        tbody.append(`<tr id="my_order${order_id}"></tr>`);
                        let p_tr = $(`#my_order${order_id}`);

                        let item_id=ret.data[i].item_id_list[0];//目前还只有一个商品信息
                        p_tr.append(`<td id="order_item_pic${order_id}"></td>`);
                        p_tr.append(`<td id="order_item_data${order_id}"></td>`);
                        p_tr.append(`<td><a href="/order/${order_id}">订单详情</a></td>`);
                        let pic_url = "/api/get_item_head_pic";
                        if (debug) pic_url = `http://127.0.0.1:4523/mock/927026${pic_url}`;
                        $.ajax({
                            url: pic_url,
                            type: "GET",
                            data: { item_id: item_id },
                            success: function (pic_ret) {
                                if (pic_ret.statusCode == 200) {
                                    $(`#order_item_pic${order_id}`).append(`<img src=${pic_ret.data.url} height=40 width=40>`);
                                }
                            },
                        });
                        let item_url = "/api/get_item_info";
                        if (debug) item_url = `http://127.0.0.1:4523/mock/927026${item_url}`;
                        $.ajax({
                            url: item_url,
                            type: "Get",
                            data: { item_id: item_id },
                            success: function (item_ret) {
                                if (item_ret.statusCode == 200) {
                                    let desc = $(`#order_item_data${order_id}`);
                                    desc.append(`<a href = /item/content/${item_id} >${item_ret.data.name}</a>`);
                                    desc.append(`<p>${item_ret.data.description}</p>`);
                                    desc.append(`<a href=/user/${item_ret.data.user_id}/user_info>查看商家</a>`);
                                }
                            },
                        });  
                    }
                }
            },
        });
    });
</script>
{% endblock %}
