{% extends "base.html" %} {% block title %}
<title>我的订单</title>
{% endblock %} {% block css %} {{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('user.static',filename='css/Switch.css')}}" />
{% endblock %} {% block header %} {{ super() }} {% endblock %} {% block main %}
<main>
    <section class="slider--area pb=20" data-background="{{url_for('static', filename='img/bg/slider_area_bg2.jpg')}}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 d-lg-block">{% include "cont_side.html" %}</div>

                <div class="col-9 d-lg-block">
                    待确认订单<br />
                    <table>
                        <tbody id="my_order_wait_confirm"></tbody>
                    </table>
                    待完成订单<br />
                    <table>
                        <tbody id="my_order_confirmed"></tbody>
                    </table>
                    已完成订单<br />
                    <table>
                        <tbody id="my_order_done"></tbody>
                    </table>
                    已取消订单<br />
                    <table>
                        <tbody id="my_order_cancel"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %} {% block footer %} {{ super() }} {% endblock %} {% block js %} {{ super() }}

<script type="text/javascript" charset="utf-8">
    var debug = 0;
    var current_user_id="{{current_user.id|safe}}";
    $(document).ready(function () {
        let url = "/api/get_order";
        if (debug) url = `http://127.0.0.1:4523/mock/927026${url}`;
        $.ajax({
            url: url,
            type: "GET",
            async: false, // 当需要将值传给函数外部时需要强制同步
            success: function (ret) {
                console.log(ret);
                if (ret.statusCode != 200) {
                    window.alert(ret.message);
                    window.location.href = "{{url_for('index')}}";
                } else {
                    let mytbody;

                    for (let i = 0; i < ret.data.length; i++) {
                        if (ret.data[i].state == 0) mytbody = $("#my_order_wait_confirm");
                        else if (ret.data[i].state == 1) mytbody = $("#my_order_confirmed");
                        else if (ret.data[i].state == 2) mytbody = $("#my_order_done");
                        else if (ret.data[i].state == -1) mytbody = $("#my_order_cancel");

                        let order_id = ret.data[i].order_id;
                        mytbody.append(`<tr id="my_order${order_id}"></tr>`);
                        let p_tr = $(`#my_order${order_id}`);

                        let item_id = ret.data[i].item_id_list[0]; //目前还只有一个商品信息
                        p_tr.append(`<td id="order_item_pic${order_id}"></td>`);
                        p_tr.append(`<td id="order_item_data${order_id}"></td>`);
                        p_tr.append(`<td><a href="/order/${order_id}">订单详情</a></td>`);

                        p_tr.append(`<div id="state_message${order_id}"></div>`);
                        p_tr.append(`<button id="confirm${order_id}" onclick="change_state('${order_id}',1)">确认订单</button>`);
                        p_tr.append(`<button id="complete${order_id}" onclick="change_state('${order_id}',2)">完成订单</button>`);
                        p_tr.append(`<button id="cancel${order_id}" onclick="change_state('${order_id}',-1)">取消订单</button>`);
                        if(ret.data[i].state==2){
                            let is_review_url="/api/get_user_is_review";
                            $.ajax({
                                url:is_review_url,
                                type:"GET",
                                data:{order_id:order_id},
                                success:function(review_ret){
                                    if(review_ret.statusCode==200){
                                        if(review_ret['data']['is_review']==false)
                                            p_tr.append(`<a href="/order/review/${order_id}">前往评价</a>`);
                                        else p_tr.append(`<a href="/order/review/${order_id}">查看历史评价</a>`);
                                    }else{
                                        bootbox.alert(review_ret.message);
                                    }
                                },
                            });

                        }
                        let pic_url = "/api/get_item_head_pic";
                        if (debug) pic_url = `http://127.0.0.1:4523/mock/927026${pic_url}`;
                        $.ajax({
                            url: pic_url,
                            type: "GET",
                            data: { item_id: item_id },
                            async: false, // 当需要将值传给函数外部时需要强制同步
                            success: function (pic_ret) {
                                if (pic_ret.statusCode == 200) {
                                    $(`#order_item_pic${order_id}`).append(`<img src=${pic_ret.data.url} height=40 width=40>`);
                                }
                            },
                        });
                        let item_url = "/api/get_item_info";
                        if (debug) item_url = `http://127.0.0.1:4523/mock/927026${item_url}`;
                        $.ajax({
                            url: item_url,
                            type: "Get",
                            data: { item_id: item_id },
                            async: false, // 当需要将值传给函数外部时需要强制同步
                            success: function (item_ret) {
                                if (item_ret.statusCode == 200) {
                                    let desc = $(`#order_item_data${order_id}`);
                                    desc.append(`<a href = /item/content/${item_id} >${item_ret.data.name}</a>`);
                                    desc.append(`<p>${item_ret.data.description}</p>`);
                                    desc.append(`<a href=/chat/${item_ret.data.user_id}>联系商家</a>`);

                                    //订单状态逻辑
                                    let state_message;
                                    if (ret.data[i].state == 0) {
                                        state_message = "等待商家确认";
                                        if (current_user_id != item_ret.data.user_id) {
                                            //当前用户不是卖家
                                            $(`#confirm${order_id}`).attr("disabled", "disabled");
                                        }
                                        $(`#complete${order_id}`).attr("disabled", "disabled");
                                    } else if (ret.data[i].state == 1) {
                                        state_message = "等待收货方完成";
                                        if ((current_user_id == item_ret.data.user_id && item_ret.data.type == 0) || (current_user_id == ret.data[i].user_id && item_ret.data.type == 1)) {
                                            //当前用户不是收货方
                                            $(`#complete${order_id}`).attr("disabled", "disabled");
                                        }
                                        $(`#confirm${order_id}`).attr("disabled", "disabled");

                                    } else if (ret.data[i].state == -1) {
                                        state_message = "已被取消";
                                        $(`#cancel${order_id}`).attr("disabled", "disabled");
                                        $(`#complete${order_id}`).attr("disabled", "disabled");
                                        $(`#confirm${order_id}`).attr("disabled", "disabled");
                                    } else if (ret.data[i].state == 2) {
                                        state_message = "已完成";
                                        $(`#cancel${order_id}`).attr("disabled", "disabled");
                                        $(`#complete${order_id}`).attr("disabled", "disabled");
                                        $(`#confirm${order_id}`).attr("disabled", "disabled");
                                    }
                                    $(`#state_message${order_id}`).append(`<span><p>订单状态:${state_message}</p></span>`);
                                }
                            },
                        });
                    }
                }
            },
        });
    });
</script>
{% endblock %}
