<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>tj-flea-market - 我的发布</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.png')}}"> -->
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href=" {{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href=" {{url_for('static', filename='css/animate.min.css')}}">
        <link rel="stylesheet" href=" {{url_for('static', filename='css/magnific-popup.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome-all.min.css')}}">
        <link rel="stylesheet" href="  {{url_for('static', filename='css/jquery-ui.css')}}">
        <link rel="stylesheet" href="  {{url_for('static', filename='css/flaticon.css')}}">
        <link rel="stylesheet" href="  {{url_for('static', filename='css/aos.css')}}">
        <link rel="stylesheet" href="  {{url_for('static', filename='css/slick.css')}}">
        <link rel="stylesheet" href="  {{url_for('static', filename='css/default.css')}}">
        <link rel="stylesheet" href="  {{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="  {{url_for('static', filename='css/responsive.css')}}">
        <link rel="stylesheet" href="  {{url_for('static', filename='css/tab.css')}}">
        <link rel="stylesheet" href="  {{url_for('static', filename='css/dropdown.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/member-main.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/init.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/ms-style.min.css')}}">

    </head>
    <body>

        <!-- preloader -->
        <div id="preloader">
            <div id="loading-center">
                <div class="loader">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- preloader-end -->


		<!-- Scroll-top ，顶部滚动-->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <header>

            <!-- header-top-start -->
            <div class="header-top-wrap">
                <div class="container custom-container">
                    <div class="row align-items-center">
                        <div class="col-md-7">
                            <div class="header-top-left">
                                <ul>
                                    <li class="header-top-lang">
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">English</button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                <a class="dropdown-item" href="index.html">English</a>
                                                <a class="dropdown-item" href="index.html">Chinese</a>
                                                <a class="dropdown-item" href="index.html">German</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-top-right">
                                <ul>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-top-end -->

            <!-- header-search-area -->
            <div class="header-search-area">
                <div class="container custom-container">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-3 d-none d-lg-block">
                            <div class="logo">
                                <a href="index.html"><img src="  {{url_for('static', filename='img/logo/logo.png')}}" alt="Logo"></a>
                            </div>
                        </div>
                        <div class="d-block d-sm-flex align-items-center justify-content-end">
                            <div class="col-md-9">
                                <div class="header-search-wrap">
                                    <form action="#">
                                        <select class="custom-select">
                                            <option selected="">所有种类</option>
                                            <option>-- 学习用品</option>
                                            <option>-- 生活用品</option>
                                            <option>-- 其他（待添加）</option>
                                            <option>-- 其他</option>
                                            <!-- <option>-- Fresh Fish</option>
                                            <option>-- Fresh Nuts</option>
                                            <option>-- Fresh Meats</option>
                                            <option>-- Bread & Bakery</option>
                                            <option>-- Vegetable</option>
                                            <option>-- Kids Food</option>
                                            <option>-- Dried Fruits</option>
                                            <option>-- Others Food</option> -->
                                        </select>
                                        <input type="text" placeholder="搜索...">
                                        <button><i class="flaticon-loupe-1"></i></button>
                                    </form>
                                </div>
                            </div>
                        <!-- </div> -->
                            <div class="col-lg-1">
                                <div class="header-action">
                                    <ul>
                                        <!-- 心表示收藏 -->
                                        <li class="header-wishlist">
                                            <a href="#"><i class="flaticon-heart-shape-outline"></i></a>
                                            <span class="item-count">0</span>
                                        </li>
                                        <!-- 消息通知 -->
                                        <li class="header-wishlist">
                                            <a href="/chat/"><i class="flaticon-mail"></i></a>
                                            <span class="item-count">0</span>
                                        </li>

                                        <li class="dropdown">
                                                <span><img src="  {{url_for('static', filename='img/images/user1.png')}}" alt="" width="60" height="60" class="img-circle">
                                                </span>
                                                <!--页面待制作-->
                                                <div class="dropdown-content">
                                                    <a href="{{url_for('user.space',opt_userid=current_user.id)}}">个人中心</a>
                                                    <a href="cart.html">我的主页</a>
                                                    <a href="history.html">我的足迹</a>
                                                    <a href="{{url_for('logout')}}">退出登录</a>
                                                </div>
                                        </li>
<!--                                     
                                        <li class="header-cart-action">
                                            <div class="header-cart-wrap">
                                                <a href="cart.html"><i class="flaticon-shopping-basket"></i></a>
                                                <span class="item-count">2</span>
                                                <ul class="minicart">
                                                    <li class="d-flex align-items-start">
                                                        <div class="cart-img">
                                                            <a href="shop-details.html"><img src="  {{url_for('static', filename='img/product/cart_p01.jpg')}}" alt=""></a>
                                                        </div>
                                                        <div class="cart-content">
                                                            <h4><a href="shop-details.html">Organic Farm Fresh Nuts</a></h4>
                                                            <div class="cart-price">
                                                                <span class="new">$229.9</span>
                                                                <span><del>$229.9</del></span>
                                                            </div>
                                                        </div>
                                                        <div class="del-icon">
                                                            <a href="#"><i class="far fa-trash-alt"></i></a>
                                                        </div>
                                                    </li>
                                                    <li class="d-flex align-items-start">
                                                        <div class="cart-img">
                                                            <a href="shop-details.html"><img src="  {{url_for('static', filename='img/product/cart_p02.jpg')}}" alt=""></a>
                                                        </div>
                                                        <div class="cart-content">
                                                            <h4><a href="shop-details.html">Organic Fresh Nuts Vanla Butter</a></h4>
                                                            <div class="cart-price">
                                                                <span class="new">$229.9</span>
                                                                <span><del>$229.9</del></span>
                                                            </div>
                                                        </div>
                                                        <div class="del-icon">
                                                            <a href="#"><i class="far fa-trash-alt"></i></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="total-price">
                                                            <span class="f-left">Total:</span>
                                                            <span class="f-right">$239.9</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="checkout-link">
                                                            <a href="cart.html">Shopping Cart</a>
                                                            <a class="black-color" href="checkout.html">Checkout</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="cart-amount">$0.00</div>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-search-area-end -->
        </header>
        <!-- header-area-end -->


        <!-- main-area -->
        <main>

            <!-- slider-area -->
            <section class="slider--area pb=20" data-background="{{url_for('static', filename='img/bg/slider_area_bg2.jpg')}}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2 d-lg-block">
                            <div class="cont-side">
                                <div class="side-neck" style="margin-left: 20px; margin-top: 20px;">
                                    <i>        </i>
                                </div>
                                <div class="ms-side" style="margin-left: 20px;margin-top: 20px;">
                                    <article class="side-menu side-menu-off">
                                        <dl class="side-menu-tree" style="padding-left: 50px;">
                                            <dt><img src="{{url_for('static', filename='img/左侧/首页.png')}}"  style="margin-right: 10px;margin-left: -20px;width: 15px;height: 15px"/><a href="personal-center.html">首页</a> </dt>
                                            <dt><img src="{{url_for('static', filename='img/左侧/file.png')}}"  style="margin-right: 10px;margin-left: -20px; width: 13px;height: 13px;"/>发布管理</dt>
                                            <dd>
                                                <a>我的订单</a>
            
                                            </dd>
                                            <dd>
                                                <a>我的发布</a>
            
                                            </dd>
                                            <dd>
                                                <a>我的收藏</a>
            
                                            </dd>
                                            <dd>
                                                <a >我的评价</a>
            
                                            </dd>
                                            <dd>
                                                <a >我的足迹</a>
            
                                            </dd>
                                            <dt><img src="{{url_for('static', filename='img/左侧/我的买啦.png')}}"  style="margin-right: 10px;margin-left: -20px;width: 13px;height: 13px"/>我的账户</dt>
                                            
                                            <dd>
                                                <a >个人资料</a>
            
                                            </dd>
                                            <dd>
                                                <a>安全与隐私</a>
            
                                            </dd>
                                            <dd>
                                                <a>地址管理</a>
            
                                            </dd>

                                            <dt><img src="{{url_for('static', filename='img/左侧/v-card-3.png')}}"  style="margin-right: 10px;margin-left: -20px;width: 13px;height: 13px"/>售后服务</dt>
                                            <dd>
                                                <a >退换货</a>
            
                                            </dd>
                                            <dd>
                                                <a>意见/投诉</a>
            
                                            </dd>
                                        </dl>
            
                                        <a ison="on" class="switch-side-menu icon-up-side"><i></i></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-10 d-lg-block"> 

                            <div class="member_main">
                                <div class="m-userinfo" style="border-radius: 15px;">
                                    <div class="s-userbar s-bar" style="border-radius: 5px;padding-top: 20px;">
                                        <div class="s-baseinfo" style="border-radius: 5px;">
                                                    <a href="404.html" class="s-avatar">
                                                    <span class="s-edit-mask">编辑资料</span>
                                                    <img src="{{url_for('static', filename='img/images/user1.png')}}"/>
                                                    </a>
                                                        <div class="s-name">
                                                            <a href="404.html">
                                                            <em>{{current_user.username}}</em>
                                                                ({{current_user.id}})
                                                            </a>
                                                        </div>
                                                        <div class="s-prestige" style="margin-left: 80px;">
                                                        </div>
                                        </div>
                                        <ul class="s-my-stuffs">
                                            <li>
                                                <a href="404.html" class="J_DropTrigger i-trigger">我的地址</a>
                                            </li>
                                            <li>
                                                <a href="404.html" class="J_DropTrigger i-trigger">隐私管理</a>
                                            </li>
                                            <li>
                                                <a href="404.html" class="J_DropTrigger i-trigger">                                                        <em>我的信誉</em>
                                                    ({{current_user.score}}分)</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="s-my-counts s-content">
                                        <ul>
                                            <li>
                                                <a data-spm="d4919660" target="_blank" href="shop-details.html">
                                                <span>待同意
                                                                            <em></em>
                                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-spm="d4919661" target="_blank" href="shop-details.html">
                                                <span>待完成
                                                                            <em>1</em>
                                                                    </span></a>
                                            </li>
                                            <li>
                                                <a data-spm="d4919662" target="_blank" href="shop-details.html">
                                                <span>已完成
                                                                            <em></em>
                                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-spm="d4919663" target="_blank" href="shop-details.html">
                                                <span>待评价
                                                                            <em></em>
                                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-spm="d4919664" target="_blank" href="shop-details.html">
                                                    <span>已关闭
                                                                            <em></em>
                                                                        </span>
                                            </a>
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                                <div class="m-logistics g-box-base g-mb-set">
                                    <div class="s-bar">
                                        <img src="{{url_for('static', filename='img/icon/recentdeal.png')}}" style="width: 28px;height: 28px;">我的发布
                                    </div>
                                    <div class="cart-wrapper">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                <th class="product-thumbnail"></th>
                                                <th class="product-name">发布详情</th>
                                                <th class="product-price">单价</th>
                                                <th class="product-quantity">数量</th>
                                                <th class="product-subtotal">发布类型</th>
                                                <th class="product-subtotal">发布状态</th>
                                                <th class="product-delete"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <td class="product-name"><span>2022-5-30</span></td>
                                                <td class="product-name" colspan="2"><span></span></td>
                                                <td class="product-name"></td>
                                                <td class="product-name" colspan="3"><span></span></td>
                                                </tr>
                                                <tr>
                                                <td class="product-thumbnail">
                                                    <a href="shop-details.html"
                                                    ><img
                                                        src="{{url_for('static',filename='img/product/cart_img01.jpg')}}"
                                                        alt=""
                                                    /></a>
                                                </td>
                                                <td class="product-name">
                                                    <h4>
                                                    <a href="shop-details.html">圆圆的东西</a>
                                                    </h4>
                                                </td>
                                                <td class="product-price">$ 27.00</td>
                                                <td class="product-subtotal">
                                                    <span>1</span>
                                                </td>
                                                <td class="product-subtotal"><span>悬赏</span></td>
                                                <td class="product-subtotal"><span>待接取</span></td>
                                                <td class="product-delete">
                                                    <a href="#"><i class="far fa-trash-alt"></i></a>
                                                </td>
                                                </tr>
                                            </tbody>
                                            <tbody>
                                                <tr>
                                                <td class="product-name"><span>2022-5-30</span></td>
                                                <td class="product-name" colspan="2"><span></span></td>
                                                <td class="product-name"></td>
                                                <td class="product-name" colspan="3"><span></span></td>
                                                </tr>
                                                <tr>
                                                <td class="product-thumbnail">
                                                    <a href="shop-details.html"
                                                    ><img
                                                        src="{{url_for('static',filename='img/product/cart_img01.jpg')}}"
                                                        alt=""
                                                    /></a>
                                                </td>
                                                <td class="product-name">
                                                    <h4>
                                                    <a href="shop-details.html">圆圆的东西</a>
                                                    </h4>
                                                </td>
                                                <td class="product-price">$ 27.00</td>
                                                <td class="product-subtotal">
                                                    <span>1</span>
                                                </td>
                                                <td class="product-subtotal"><span>出售</span></td>
                                                <td class="product-subtotal"><span>已下架</span></td>
                                                <td class="product-delete">
                                                    <a href="#"><i class="far fa-trash-alt"></i></a>
                                                </td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
            <!-- slider-area-end -->

            <!-- special-products-area -->
            <section class="special--products-area pt-20 pb-20">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-10">

                            <div class="section-title section-title-two text-center mb-30">
                                <h2 class="title">猜你喜欢</h2>
                            </div>
                            <div class="special--product-nav">
                                <button class="active" data-filter="*">Featured</button>
                                <button class="" data-filter=".cat-one">Best Seller</button>
                                <button class="" data-filter=".cat-two">Top Rated</button>
                            </div>
                        </div>
                    </div>
                    <div class="row special--product-active">
                        <div class="col-xl-3 col-md-4 col-sm-6 grid-item grid-sizer cat-two">
                            <div class="sp--product--item mb-50">
                                <div class="sp--product--thumb">
                                    <span class="batch">-20 %</span>
                                    <a href="cart.html" class="wishlist"><i class="flaticon-heart-shape-outline"></i></a>
                                    <a href="shop-details.html"><img src="{{url_for('static', filename='img/product/sp__products01.png')}}" alt=""></a>
                                </div>
                                <div class="sp--product--content">
                                    <h6 class="title"><a href="shop-details.html">Watermelon</a></h6>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="price">$12.00/kg</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6 grid-item grid-sizer cat-one">
                            <div class="sp--product--item mb-50">
                                <div class="sp--product--thumb">
                                    <a href="cart.html" class="wishlist"><i class="flaticon-heart-shape-outline"></i></a>
                                    <a href="shop-details.html"><img src="{{url_for('static', filename='img/product/sp__products02.png')}}" alt=""></a>
                                </div>
                                <div class="sp--product--content">
                                    <h6 class="title"><a href="shop-details.html">Walnuts Max</a></h6>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="price">$09.99/kg</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6 grid-item grid-sizer cat-two">
                            <div class="sp--product--item mb-50">
                                <div class="sp--product--thumb">
                                    <a href="cart.html" class="wishlist"><i class="flaticon-heart-shape-outline"></i></a>
                                    <a href="shop-details.html"><img src="{{url_for('static', filename='img/product/sp__products03.png')}}" alt=""></a>
                                </div>
                                <div class="sp--product--content">
                                    <h6 class="title"><a href="shop-details.html">Black Grapes</a></h6>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="price">$05.99/kg</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6 grid-item grid-sizer cat-one">
                            <div class="sp--product--item mb-50">
                                <div class="sp--product--thumb">
                                    <span class="batch new">New</span>
                                    <a href="cart.html" class="wishlist"><i class="flaticon-heart-shape-outline"></i></a>
                                    <a href="shop-details.html"><img src="{{url_for('static', filename='img/product/sp__products04.png')}}" alt=""></a>
                                </div>
                                <div class="sp--product--content">
                                    <h6 class="title"><a href="shop-details.html">Grassland Dairy</a></h6>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="price">$1.99/kg</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6 grid-item grid-sizer cat-one cat-two">
                            <div class="sp--product--item mb-50">
                                <div class="sp--product--thumb">
                                    <a href="cart.html" class="wishlist"><i class="flaticon-heart-shape-outline"></i></a>
                                    <a href="shop-details.html"><img src="{{url_for('static', filename='img/product/sp__products05.png')}}" alt=""></a>
                                </div>
                                <div class="sp--product--content">
                                    <h6 class="title"><a href="shop-details.html">Organic Broccoli</a></h6>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="price">$7.99/kg</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6 grid-item grid-sizer cat-one">
                            <div class="sp--product--item mb-50">
                                <div class="sp--product--thumb">
                                    <a href="cart.html" class="wishlist"><i class="flaticon-heart-shape-outline"></i></a>
                                    <a href="shop-details.html"><img src="{{url_for('static', filename='img/product/sp__products06.png')}}" alt=""></a>
                                </div>
                                <div class="sp--product--content">
                                    <h6 class="title"><a href="shop-details.html">Organic Butter</a></h6>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="price">$3.99/kg</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6 grid-item grid-sizer cat-one cat-two">
                            <div class="sp--product--item mb-50">
                                <div class="sp--product--thumb">
                                    <span class="batch new">New</span>
                                    <a href="cart.html" class="wishlist"><i class="flaticon-heart-shape-outline"></i></a>
                                    <a href="shop-details.html"><img src="{{url_for('static', filename='img/product/sp__products07.png')}}" alt=""></a>
                                </div>
                                <div class="sp--product--content">
                                    <h6 class="title"><a href="shop-details.html">Mat Orange</a></h6>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="price">$13.99/kg</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6 grid-item grid-sizer cat-one cat-two">
                            <div class="sp--product--item mb-50">
                                <div class="sp--product--thumb">
                                    <a href="cart.html" class="wishlist"><i class="flaticon-heart-shape-outline"></i></a>
                                    <a href="shop-details.html"><img src="{{url_for('static', filename='img/product/sp__products08.png')}}" alt=""></a>
                                </div>
                                <div class="sp--product--content">
                                    <h6 class="title"><a href="shop-details.html">France Potato</a></h6>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="price">$02.99/kg</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- special-products-area-end -->
        </main>
        <!-- main-area-end -->


        <!-- footer-area -->
        <footer>
            <div class="footer-area gray-bg pt-80 pb-30">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="footer-widget mb-50">
                                <div class="footer-logo mb-25">
                                    <a href="index.html"><img src="{{url_for('static', filename='img/logo/logo.png')}}" alt=""></a>
                                </div>
                                <div class="footer-contact-list">
                                    <ul>
                                        <li>
                                            <div class="icon"><i class="flaticon-place"></i></div>
                                            <p>PO Box W75 Street West New Queens, TX 16819</p>
                                        </li>
                                        <li>
                                            <div class="icon"><i class="flaticon-telephone-1"></i></div>
                                            <h5 class="number"><a href="tel:12027993245">+120 279 932 45</a></h5>
                                        </li>
                                        <li>
                                            <div class="icon"><i class="flaticon-mail"></i></div>
                                            <p><a href="/cdn-cgi/l/email-protection#86f5f3f6f6e9f4f2c6f0e3e1e3e8a8e5e9eb"><span class="__cf_email__" data-cfemail="02717772726d707642746765676c2c616d6f">[email&#160;protected]</span></a></p>
                                        </li>
                                        <li>
                                            <div class="icon"><i class="flaticon-wall-clock"></i></div>
                                            <p>Week 7 days from 7:00 to 20:00</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer-widget mb-50">
                                <div class="fw-title">
                                    <h5 class="title">Customer Service</h5>
                                </div>
                                <div class="fw-link">
                                    <ul>
                                        <li><a href="shop.html">Secure Shopping</a></li>
                                        <li><a href="cart.html">Order Status</a></li>
                                        <li><a href="shop.html">International Shipping</a></li>
                                        <li><a href="checkout.html">Payment Method</a></li>
                                        <li><a href="blog.html">Our Blog</a></li>
                                        <li><a href="terms-conditios.html">Orders and Returns</a></li>
                                        <li><a href="checkout.html">Track Your Orders</a></li>
                                        <li><a href="index.html">Footer Links</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer-widget mb-50">
                                <div class="fw-title">
                                    <h5 class="title">Useful Links</h5>
                                </div>
                                <div class="fw-link">
                                    <ul>
                                        <li><a href="checkout.html">Delivery</a></li>
                                        <li><a href="terms-conditios.html">Legal Notice</a></li>
                                        <li><a href="about-us.html">About us</a></li>
                                        <li><a href="contact.html">Sitemap</a></li>
                                        <li><a href="checkout.html">Track Your Orders</a></li>
                                        <li><a href="index.html">Footer Links</a></li>
                                        <li><a href="terms-conditios.html">Orders and Returns</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="footer-widget footer-box-widget mb-50">
                                <div class="f-download-wrap">
                                    <div class="fw-title">
                                        <h5 class="title">Download App</h5>
                                    </div>
                                    <div class="download-btns">
                                        <a href="index.html"><img src="{{url_for('static', filename='img/icon/g_play.png')}}" alt=""></a>
                                        <a href="index.html"><img src="{{url_for('static', filename='img/icon/app_store.png')}}" alt=""></a>
                                    </div>
                                </div>
                                <div class="f-newsletter">
                                    <div class="fw-title">
                                        <h5 class="title">Newsletter</h5>
                                    </div>
                                    <form action="#">
                                        <input type="email" placeholder="Email Address">
                                        <button><i class="flaticon-send"></i></button>
                                    </form>
                                    <p>Do Not Show Your Mail</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-wrap">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="copyright-text">
                                <p>Copyright &copy; 2021 Ganic All Rights By <a href="http://www.bootstrapmb.com/">bootstrapmb</a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="payment-accepted text-center text-md-right">
                                <img src="{{url_for('static', filename='img/images/payment_card.png')}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->

		<!-- JS here -->
        <script src="  {{url_for('static', filename='js/vendor/jquery-3.6.0.min.js')}}"></script>
        <script src="  {{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="  {{url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
        <script src="  {{url_for('static', filename='js/imagesloaded.pkgd.min.js')}}"></script>
        <script src="  {{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
        <script src="  {{url_for('static', filename='js/jquery.countdown.min.js')}}"></script>
        <script src="  {{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
        <script src="  {{url_for('static', filename='js/slick.min.js')}}"></script>
        <script src="  {{url_for('static', filename='js/ajax-form.js')}}"></script>
        <script src="  {{url_for('static', filename='js/wow.min.js')}}"></script>
        <script src="  {{url_for('static', filename='js/aos.js')}}"></script>
        <script src="  {{url_for('static', filename='js/plugins.js')}}"></script>
        <script src="  {{url_for('static', filename='js/main.js')}}"></script>
        <script src="  {{url_for('static', filename='js/dropdown.js')}}"></script>

    </body>
</html>
