{% extends "base.html" %} {% block title %}
<title>我的收藏</title>
{% endblock %} {% block css %} {{ super() }} {% endblock %} {% block header %} {{ super() }} {% endblock %} {% block
main %}
<main>
  <table>
    <tbody id="my_favor"></tbody>
  </table>
</main>
{% endblock %} {% block footer %} {{ super() }} {% endblock %} {% block js %} {{ super() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
<script type="text/javascript" charset="utf-8">
  var debug = 0;
  $(document).ready(function () {

    let url = "/api/get_favor";
    if (debug) url = `http://127.0.0.1:4523/mock/927026${url}`;
    $.ajax(
      {
        url: url,
        type: "GET",
        success: function (ret) {
          if (ret.statusCode != 200) {
            window.alert(ret.message);
            window.location.href = "{{url_for('index')}}";
          }
          else {
            let tbody = $("#my_favor");
            for (let i = 0; i < ret.data.length; i++) {
              tbody.append(`<tr id="my_favor${ret.data[i].id}"></tr>`)
              let p_tr = $(`#my_favor${ret.data[i].id}`)
              p_tr.append(`<td id="favor_item_pic${ret.data[i].item_id}"></td>`);
              p_tr.append(`<td id="favor_item_data${ret.data[i].item_id}"></td>`);
              p_tr.append(`<td><button>取消收藏</button></td>`);
              let pic_url = "/api/get_item_head_pic";
              if (debug) pic_url = `http://127.0.0.1:4523/mock/927026${pic_url}`;
              $.ajax(
                {
                  url: pic_url,
                  type: "GET",
                  data: { item_id: ret.data[i].item_id },
                  success: function (pic_ret) {
                    if (pic_ret.statusCode == 200) {
                      $(`#favor_item_pic${ret.data[i].item_id}`).append(`<img src=${pic_ret.data.url} height=40 width=40>`);
                    }
                  }
                }
              )
              let item_url = "/api/get_item_info";
              if (debug) item_url = `http://127.0.0.1:4523/mock/927026${item_url}`;
              $.ajax(
                {
                  url: item_url,
                  type: "Get",
                  data: { item_id: ret.data[i].item_id },
                  success: function (item_ret) {
                    console.log(item_ret);
                    if (item_ret.statusCode == 200) {
                      let desc = $(`#favor_item_data${ret.data[i].item_id}`);
                      desc.append(`<a href = /item/content/${ret.data[i].item_id} >${item_ret.data.name}</a>`);
                      desc.append(`<p>${item_ret.data.description}</p>`);
                      desc.append(`<a href=/user/${item_ret.data.user_id}/space>查看商家</a>`)
                    }
                  }
                }
              )
            }
          }
        }
      })
  })
</script>

{% endblock %}