{% extends "base.html" %} {% block title %}
<title>编辑地址</title>
{% endblock %} {% block css %} {{ super() }} {% endblock %} {% block header %} {{ super() }} {% endblock %} {% block main %}
<main>
    <div class="cart-area pt-90 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <a href="javascript:void(0)">请双击表单内容进行修改</a>

                    <table id="tab" width="100%" border="0" cellspacing="0" cellpadding="0" class="mytable" style="table-layout: fixed">
                        <tbody id="ta">
                            <tr>
                                <td>收件人姓名</td>
                                <td>电话</td>
                                <td>详细地址</td>
                                <td>所在校区</td>
                                <td>是否为默认地址</td>
                                <td>删除</td>
                                <td>修改</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="shop-cart-total" style="background-color: rgba(255, 255, 255, 0.5); border: none">
                        <div class="shop-cart-widget">
                            <a class="btn" onclick="add_address()">添加新地址</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %} {% block footer %} {{ super() }} {% endblock %} {% block js %} {{ super() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var debug = 0;

    $(document).ready(function () {
        let url = "/api/get_address";
        if (debug) url = `http://127.0.0.1:4523/mock/927026${url}`;
        $.ajax({
            url: url,
            type: "get",
            success: function (ret) {
                //bootbox.alert(ret.message);
                //console.log(ret);
                let ta_tab = $("#ta");
                for (let i = 0; i < ret.data.length; i++) {
                    ta_tab.append(`<tr id="tr${i}"></tr>`); //添加一列
                    let tab = $(`#tr${i}`); //把这一列的内容添加上
                    let contact_id = ret.data[i].id;
                    let campus_branch_select_text = get_branch_select_text(contact_id, ret.data[i].campus_branch);
                    let default_button_text = get_default_button_text(contact_id, ret.data[i].default);
                    //console.log(campus_branch_select_text);
                    tab.append(`<td class='edit_text' id='name${contact_id}'>${ret.data[i].name}</td>`);
                    tab.append(`<td class='edit_text' id='telephone${contact_id}'>${ret.data[i].telephone}</td>`);
                    tab.append(`<td class='edit_text' id='full_address${contact_id}'>${ret.data[i].full_address}</td>`);
                    tab.append(`<td id='campus_branch${contact_id}'>${campus_branch_select_text}</td>`);
                    tab.append(`<td>${default_button_text}</td>`);
                    tab.append(`<td><input type='button' id='delete_contact_id${contact_id}' onclick='delete_by_id(${contact_id})' value='删除地址'</td>`);
                    tab.append(`<td><input type='button' id='update_contact_id${contact_id}' onclick='update_contact(${contact_id})' value='保存修改'</td>`);
                }

                /* 给表格里面每一个带有edit_text的td添加一个dblclick事件 */
                $(".edit_text").dblclick(function () {
                    /* 1.先拿到这个td原来的值，然后将这个td变成一个input:text,并且原来的值不动 */
                    let tdVal = $(this).text();
                    let oInput = $("<input type='text' value='" + tdVal + "'/>");
                    $(this).html(oInput);
                    oInput.focus();

                    /* 2.失去焦点，这个td变为原来的text，value为修改过后的value */
                    oInput.blur(function () {
                        oInput.parent().html(oInput.val());
                    });
                });
            },
        });
    });
    function get_branch_select_text(id, campus_branch) {
        let res = `<select id=select_campus_branch${id}>`;
        let branchs = ["四平路校区", "嘉定校区", "沪西校区", "沪北校区"];
        for (let i = 0; i < branchs.length; i++) {
            if (campus_branch == branchs[i]) res += `<option value='select${i}' selected>${branchs[i]}</option>`;
            else res += `<option value='select${i}'>${branchs[i]}</option>`;
        }
        return res;
    }
    function get_default_button_text(contact_id, is_default) {
        let res;
        if (is_default) res = `<input type="checkbox" checked="checked" id='is_default${contact_id}'/>`;
        else res = `<input type="checkbox" id='is_default${contact_id}'/>`;
        console.log(res);
        return res;
    }
    function delete_by_id(id) {
        let url = "/api/address";
        if (debug) url = `http://127.0.0.1:4523/mock/927026${url}`;
        $.ajax({
            url: url,
            type: "delete",
            data: JSON.stringify([{ contact_id: id }]),
            contentType: "application/json;charset=utf-8",
            processData: false,
            //async: false, // 当需要将值传给函数外部时需要强制同步
            success: function (ret) {
                if (ret.statusCode == 200) {
                    alert("删除成功");
                    window.location.reload();
                } else bootbox.alert(ret.message);
            },
        });
    }

    function update_contact(id) {
        let url = "/api/address";
        let name = $(`#name${id}`).text();
        let telephone = $(`#telephone${id}`).text();
        let campus_branch = $(`#select_campus_branch${id} option:selected`).text();
        let is_default = $(`#is_default${id}`).get(0).checked;
        let full_address = $(`#full_address${id}`).text();
        //console.log(campus_branch);
        console.log(is_default);
        if (debug) url = `http://127.0.0.1:4523/mock/927026${url}`;
        $.ajax({
            url: url,
            type: "put",
            data: JSON.stringify([{ id: id, name: name, telephone: telephone, campus_branch: campus_branch, default: is_default, full_address: full_address }]),
            contentType: "application/json;charset=utf-8",
            processData: false,
            //async: false, // 当需要将值传给函数外部时需要强制同步
            success: function (ret) {
                if (ret.statusCode == 200) {
                    alert("修改成功");
                    window.location.reload();
                } else {
                    alert(ret.message);
                    window.location.reload();
                }
            },
        });
    }

    function add_address() {
        let url = "/api/address";
        if (debug) url = `http://127.0.0.1:4523/mock/927026${url}`;
        $.ajax({
            url: url,
            type: "post",
            data: JSON.stringify([{ name: "你的姓名", telephone: "你的电话", campus_branch: "四平路校区", default: false, full_address: "你的详细地址" }]),
            contentType: "application/json;charset=utf-8",
            processData: false,
            //async: false, // 当需要将值传给函数外部时需要强制同步
            success: function (ret) {
                if (ret.statusCode == 200) {
                    alert("添加成功，请修改相关信息");
                    window.location.reload();
                } else bootbox.alert(ret.message);
            },
        });
    }
</script>
<style>
    /*蓝色边框，不过并不好看
    .mytable tr td {
        border: 1px solid blue;
        padding: 3px;
    }*/
</style>
{% endblock %}
