{% extends "base.html" %} {% block title %}
<title>同济大学跳蚤市场</title>
{% endblock %} {% block css %} {{ super() }} {% endblock %} {% block header %} {{ super() }} {% endblock %} {% block main %}

        <main>

            </section>
            <section class="special-products-area gray-bg pt-20 pb-20">
                <div class="container">
                    <div class="special-products-wrap">
                        <div class="row">
                            <div class="col-3 d-none d-lg-block">
                                <div class="product-desc-wrap">
                                    <ul class="nav nav-tabs" id="myTabTwo" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab"
                                                aria-controls="details" aria-selected="true">我的悬赏</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="val-tab" data-toggle="tab" href="#val" role="tab" aria-controls="val"
                                                aria-selected="false">我的待售</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContentTwo">
                                        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                                            <div class="product-desc-content">
                                                <div class="row">
                                                    <div class="media" style="margin-top: 15px;">
                                                        <a href="shop-details.html"><img src="  {{url_for('static', filename='img/product/bdw_products01.png')}}" class="align-self-start mr-2" style="width:64px;height:64px">
                                                        </a>
                                                    <div class="media-body" style="margin-left: 8px;">
                                                        <h6 class="media-heading">新鲜美味大橘子汁……
                                                        </h6>
    
                                                        <p>2022-04-10 12:20:30  </p>
                                                        <a href="shop-details.html"><strong>查看详情</strong> </a>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="media" style="margin-top: 15px;">
                                                        <a href="shop-details.html"><img src="  {{url_for('static', filename='img/product/bdw_products01.png')}}" class="align-self-start mr-2" style="width:64px;height:64px">
                                                        </a>
                                                    <div class="media-body" style="margin-left: 8px;">
                                                        <h6 class="media-heading">新鲜美味大橘子汁……
                                                        </h6>
    
                                                        <p>2022-04-10 12:20:30  </p>
                                                        <a href="shop-details.html"><strong>查看详情</strong> </a>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="val" role="tabpanel" aria-labelledby="val-tab">
                                            <div class="product-desc-content">
                                                
                                                <div class="row">
                                                    <div class="media" style="margin-top: 15px;">
                                                        <a href="shop-details.html"><img src="  {{url_for('static', filename='img/product/bdw_products01.png')}}" class="align-self-start mr-2" style="width:64px;height:64px">
                                                        </a>
                                                    <div class="media-body" style="margin-left: 8px;">
                                                        <h6 class="media-heading">干净又卫生小橘子汁……
                                                        </h6>
    
                                                        <p>2022-05-10 12:20:30  </p>
                                                        <a href="shop-details.html"><strong>查看详情</strong> </a>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="row align-items-end mb-20">
                                    <div class="col-md-8 col-sm-9">
                                        

                                        <div class="section-title mt-20">
                                            <h2 class="title" style="margin-left:20px;">推荐</h2>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-3">
                                        <div class="section-btn text-left text-md-right">
                                            <a href="shop.html" class="btn">View All</a>
                                        </div>
                                    </div>
                                    
                                <!-- category-area -->
                                <div class="container custom-container">
                                    <div class="slider-category-wrap">
                                        <div class="row category-active">
                                            <div class="col-lg-2">
                                                <div class="category-item active">
                                                    <a href="shop.html" class="category-link"></a>
                                                    <div class="category-thumb">
                                                        <img src="  {{url_for('static', filename='img/product/category_img01.png')}}" alt="">
                                                    </div>
                                                    <div class="category-content">
                                                        <h6 class="title">奶茶 & 饮料</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="category-item">
                                                    <a href="shop.html" class="category-link"></a>
                                                    <div class="category-thumb">
                                                        <img src="  {{url_for('static', filename='img/product/category_img02.png')}}" alt="">
                                                    </div>
                                                    <div class="category-content">
                                                        <h6 class="title">水果蔬菜</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="category-item">
                                                    <a href="shop.html" class="category-link"></a>
                                                    <div class="category-thumb">
                                                        <img src="  {{url_for('static', filename='img/product/category_img03.png')}}" alt="">
                                                    </div>
                                                    <div class="category-content">
                                                        <h6 class="title">零食</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="category-item">
                                                    <a href="shop.html" class="category-link"></a>
                                                    <div class="category-thumb">
                                                        <img src="  {{url_for('static', filename='img/product/category_img04.png')}}" alt="">
                                                    </div>
                                                    <div class="category-content">
                                                        <h6 class="title">洗护产品</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="category-item">
                                                    <a href="shop.html" class="category-link"></a>
                                                    <div class="category-thumb">
                                                        <img src="  {{url_for('static', filename='img/product/category_img05.png')}}" alt="">
                                                    </div>
                                                    <div class="category-content">
                                                        <h6 class="title">学习用品</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="category-item">
                                                    <a href="shop.html" class="category-link"></a>
                                                    <div class="category-thumb">
                                                        <img src="  {{url_for('static', filename='img/product/category_img06.png')}}" alt="">
                                                    </div>
                                                    <div class="category-content">
                                                        <h6 class="title">日用百货</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- category-area-end -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- special-products-area-end -->

        </main>

{% endblock %} {% block footer %} {{ super() }} {% endblock %} 
{% block js %} 
{{ super() }}
<script type="text/javascript">
    $(document).ready(function () {
        var debug =1;
        if (debug==1){
            $.get("http://127.0.0.1:4523/mock/927026/api/get_user_item", function (ret) {
                console.log(ret);
                
            });
        }
        else{
            $.get("/api/get_user_item", function (ret) {
                // console.log(ret);
                if (ret.statusCode == 401||404) {
                } else {
                    console.log(ret);
                }
                });
        }
    });
</script> 
{% endblock %}