{% extends "base.html" %} {% block title %}
<title>查看订单 {{order_id}}</title>
{% endblock %} {% block css %} {{ super() }} {% endblock %} {% block header %} {{ super() }} {% endblock %} {% block main %}
<main>

    <div class="cart-area pt-90 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-12">
                    <div class="shop-cart-total">
                        <h3 class="title">确认订单</h3>
                        <div class="shop-cart-widget">
                            <form action="javascript:void(0)">
                                <ul>
                                    <li class="shop-check-wrap" id="user1">
                                        <span>发起人</span>
                                    </li>

                                    <li class="shop-check-wrap" id="time">
                                        <span>发起时间</span>
                                    </li>

                                    <li class="shop-check-wrap" id="user2">
                                        <span>发布者</span>
                                    </li>
                                    <div class="row justify-content-center">
                                    <div class="col-xl-10">
                                        <div class="cart-wrapper">
                                            <div class="table-responsive">
                                                <table class="table mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th class="product-thumbnail">商品名</th>
                                                            <th class="product-thumbnail">商品图片</th>
                                                            <th class="product-thumbnail">商品ID</th>
                                                            <th class="product-price">商品售价</th>
                                                            <th class="product-quantity">订购数量</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="product-name" id="itemName">
                                                                
                                                            </td>
                                                            <td class="product-thumbnail" id="itemPic">
                                                                
                                                            </td>
                                                            <td class="product-subtotal" id="itemId">

                                                            </td>
                                                            <td class="product-price" id="itemPrice">
                                                                
                                                            </td>
                                                            <td class="product-quantity" id="orderquantity">
                                                                
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <li>
                                    </li>
                                    <li class="shop-check-wrap" id="receiver">
                                        <span>收件人</span>
                                    </li>

                                    <li class="shop-check-wrap" id="campus">
                                        <span>所在校区</span>
                                    </li>

                                    <li class="shop-check-wrap" id="address">
                                        <span>详细地址</span>
                                    </li>

                                    <li class="shop-check-wrap" id="note">
                                        <span>备注</span>
                                    </li>
                                    
                                    <li class="shop-check-wrap" id="totalPrice">
                                        <span>总价</span>
                                    </li>

                                    <li class="shop-check-wrap" id="orderState">
                                        <span>订单状态</span>
                                    </li>
                                </ul>
                                <div class="row justify-content-center">
                                <button class="btn col-xl-3" id="confirm" onclick="change_state('{{order_id}}',1)">确认订单</button>&nbsp;&nbsp;
                                <button class="btn col-xl-3" id="complete" onclick="change_state('{{order_id}}',2)">完成订单</button>&nbsp;&nbsp;
                                <button class="btn col-xl-3" id="cancel" onclick="change_state('{{order_id}}',-1)">取消订单</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %} {% block footer %} {{ super() }} {% endblock %} {% block js %} {{ super() }}

<script type="text/javascript" charset="utf-8">
    var debug = 0;
    var current_user_state = "{{ current_user.state|safe }}";
    var current_user_id = "{{ current_user.id|safe }}";
    var order_id = "{{order_id|safe}}";
    $(document).ready(function () {
        let url = "/api/get_order_info";
        if (debug) url = `http://127.0.0.1:4523mock/927026${url}`;
        $.ajax({
            url: url,
            type: "get",
            data: { order_id: order_id },
            success: function (ret) {
                if (ret.statusCode != 200) {
                    suspend("alert-danger", ret.message);
                    //window.alert(ret.message);
                    window.location.href = "{{url_for('index')}}";
                } else {
                    let data = ret.data;
                    //console.log(data);
                    /*if (data.state > -1) {
                        $("#state").append(`<span><p>商家是否确认:${data.state > 0}</p></span>`);
                    }*/
                    $("#user1").append(`<a href='/user/${data.user_id}/user_info'>${data.user_id}</a>`);
                    $("#time").append(`${data.create_time}`);
                    let tfoot = $("tfoot");
                    for (var i = 0; i < 5; i++) {
                        tfoot.append("<tr></tr>");
                        let len = tfoot.children().length;
                        let tr = tfoot.children().eq(len - 1);
                        for (var j = 0; j < 2; j++) {
                            tr.append("<td></td>");
                        }
                    }
                    $("#receiver").append(`${data.name}`);
                    $("#campus").append(`${data.campus_branch}`);
                    $("#address").append(`${data.full_address}`);
                    $("#note").append(`${data.note}`==""?"无备注":`${data.note}`);
                    $("#totalPrice").append(`${data.payment}`);
                    let tbody = $("tbody");
                    for (var i = 0; i < data.item_info.length; i++) {
                        $("#itemId").append(`<a href="/item/content/${data.item_info[i].item_id}">${data.item_info[i].item_id}</a>`);
                        $("#itemPrice").append(`<span>${data.item_info[i].price}</span>`);
                        $("#orderquantity").append(`<span>${data.item_info[i].quantity}</span>`);
                        let item_url = "/api/get_item_info";
                        if (debug) item_url = `http://127.0.0.1:4523mock/927026${item_url}`;
                        let has_op = false;
                        $.ajax({
                            url: item_url,
                            type: "get",
                            data: { item_id: data.item_info[i].item_id },
                            success: function (item_ret) {
                                if (item_ret.statusCode != 200) {
                                    tr.children().eq(0).text(item_ret.message);
                                } else {
                                    $("#itemName").append(`<h4><a href="/item/content/${item_ret.data.name}">${item_ret.data.name}</a></h4>`);
                                    if (has_op == false) {
                                        $("#user2").append(`<a href='/user/${item_ret.data.user_id}/user_info'>${item_ret.data.user_id}</a>`);
                                        has_op = false;
                                    }


                                    //订单状态逻辑
                                    let state_message;
                                    if (data.state == 0) {
                                        state_message = "等待商家确认";
                                        if (current_user_id != item_ret.data.user_id)//当前用户不是卖家
                                            $("#confirm").attr("disabled", "disabled");
                                        $("#complete").attr("disabled", "disabled");
                                    } else if (data.state == 1) {
                                        state_message = "等待收货方完成";
                                        if ((current_user_id == item_ret.data.user_id && item_ret.data.type == 0) || (current_user_id == data.user_id && item_ret.data.type == 1))//当前用户不是收货方
                                            $("#complete").attr("disabled", "disabled");
                                        $("#confirm").attr("disabled", "disabled");
                                    } else if (data.state == -1) {
                                        state_message = "已被取消";
                                        $("#cancel").attr("disabled", "disabled");
                                        $("#complete").attr("disabled", "disabled");
                                        $("#confirm").attr("disabled", "disabled");
                                    } else {
                                        state_message = "已完成";
                                        $("#cancel").attr("disabled", "disabled");
                                        $("#complete").attr("disabled", "disabled");
                                        $("#confirm").attr("disabled", "disabled");
                                    }
                                    $("#orderState").append(`${state_message}`);
                                }
                            },
                        });
                        let pic_url = "/api/get_item_head_pic";
                        if (debug) pic_url = `http://127.0.0.1:4523mock/927026${pic_url}`;
                        $.ajax({
                            url: pic_url,
                            type: "get",
                            async:false,
                            data: { item_id: data.item_info[i].item_id },
                            success: function (pic_ret) {
                                if (pic_ret.statusCode != 200) {
                                    $("#itemPic").append(`${pic_ret.message}`);
                                } else {
                                    $("#itemPic").append(`<a href="/item/content/
                                    ${data.item_info[i].item_id}"><img src=${pic_ret.data.url} width=40 height=40></a>`);
                                }
                            },
                        });
                    }
                }
            },
        });
    });

    function change_state(order_id, state) {//修改订单状态
        $.ajax({
            url: "/api/change_order_state",
            type: "put",
            data: JSON.stringify({ order_id: order_id, state: state }),
            contentType: "application/json;charset=utf-8",
            processData: false,
            success: function (ret) {
                if (ret.statusCode == 200) {
                    suspend("alert-danger",  ret.message);
                    sleep(500).then(() => {window.location.reload();});
                } else {
                    suspend("alert-danger",  ret.message);
                }
            },
        });
    }
</script>

{% endblock %}