{% extends "base.html" %} {% block title %}
<title></title>
{% endblock %} {% block css %} {{ super() }} {% endblock %} {% block header %} {{ super() }} {% endblock %} {% block main %}
<main>
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <th>商品名</th>
                <th>商品图片</th>
                <th>商品id</th>
                <th>商品售价</th>
                <th>订购数量</th>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    <div id="state"></div>
</main>
{% endblock %} {% block footer %} {{ super() }} {% endblock %} {% block js %} {{ super() }}

<script type="text/javascript" charset="utf-8">
    var debug = 0;
    $(document).ready(function () {
        let order_id = "{{order_id|safe}}";
        let url = "/api/get_order_info";
        if (debug) url = `http://127.0.0.1:4523mock/927026${url}`;
        $.ajax({
            url: url,
            type: "get",
            data: { order_id: order_id },
            success: function (ret) {
                if (ret.statusCode != 200) {
                    window.alert(ret.message);
                    window.location.href = "{{url_for('index')}}";
                } else {
                    let data = ret.data;
                    console.log(data);
                    $("#state").append(`<span><p>订单状态:${data.state}</p></span>`);
                    if (data.state > -1) {
                        $("#state").append(`<span><p>商家是否确认:${data.state > 0}</p></span>`);
                    }
                    $("thead").append(`<tr>\
                            <td>\
                                <span>\
                                    发起人为<a href='/user/${data.user_id}/user_info'>${data.user_id}</a>\
                                    </span>\
                                    </td>\
                                    </tr>`);
                    $("thead").append(`<tr>\
                            <td>\
                                <span>\
                                    发起时间:${data.create_time}\
                                    </span>\
                                    </td>\
                                    </tr>`);
                    let tfoot = $("tfoot");
                    for (var i = 0; i < 5; i++) {
                        tfoot.append("<tr></tr>");
                        let len = tfoot.children().length;
                        let tr = tfoot.children().eq(len - 1);
                        for (var j = 0; j < 2; j++) {
                            tr.append("<td></td>");
                        }
                    }
                    tfoot.children().eq(0).children().eq(0).text("收件人:");
                    tfoot.children().eq(0).children().eq(1).text(`${data.name}`);
                    tfoot.children().eq(1).children().eq(0).text("所在校区");
                    tfoot.children().eq(1).children().eq(1).text(`${data.campus_branch}`);
                    tfoot.children().eq(2).children().eq(0).text("详细地址");
                    tfoot.children().eq(2).children().eq(1).text(`${data.full_address}`);
                    tfoot.children().eq(3).children().eq(0).text("备注:");
                    tfoot.children().eq(3).children().eq(1).text(`${data.note}`);
                    tfoot.children().eq(4).children().eq(0).text("总价");
                    tfoot.children().eq(4).children().eq(1).text(`${data.payment}`);
                    let tbody = $("tbody");
                    for (var i = 0; i < data.item_info.length; i++) {
                        tbody.append("<tr></tr>");
                        let len = tbody.children().length;
                        let tr = tbody.children().eq(len - 1);
                        for (var j = 0; j < 5; j++) {
                            tr.append("<td></td>");
                        }
                        tr.children().eq(2).append(`<span>${data.item_info[i].item_id}</span>`);
                        tr.children().eq(3).append(`<span>${data.item_info[i].price}</span>`);
                        tr.children().eq(4).append(`<span>${data.item_info[i].quantity}</span>`);
                        let item_url = "/api/get_item_info";
                        if (debug) item_url = `http://127.0.0.1:4523mock/927026${item_url}`;
                        let has_op = false;
                        $.ajax({
                            url: item_url,
                            type: "get",
                            data: { item_id: data.item_info[i].item_id },
                            success: function (item_ret) {
                                if (item_ret.statusCode != 200) {
                                    tr.children().eq(0).text(item_ret.message);
                                } else {
                                    tr.children().eq(0).append(`<span>${item_ret.data.name}</span>`);
                                    if (has_op == false) {
                                        $("thead").append(`<tr>\
                            <td>\
                                <span>\
                                    卖家为<a href='/user/${item_ret.data.user_id}/user_info'>${item_ret.data.user_id}</a>\
                                    </span>\
                                    </td>\
                                    </tr>`);
                                        has_op = false;
                                    }
                                }
                            },
                        });
                        let pic_url = "/api/get_item_head_pic";
                        if (debug) pic_url = `http://127.0.0.1:4523mock/927026${pic_url}`;
                        $.ajax({
                            url: pic_url,
                            type: "get",
                            data: { item_id: data.item_info[i].item_id },
                            success: function (pic_ret) {
                                if (pic_ret.statusCode != 200) {
                                    tr.children().eq(1).text(pic_ret.message);
                                } else {
                                    tr.children().eq(1).append(`<img src=${pic_ret.data.url} width=40 height=40>`);
                                }
                            },
                        });
                    }
                }
            },
        });
    });
</script>

{% endblock %}
