{% extends "base.html" %} {% block title %}
<title>消息中心 -- {{ receiver }}</title>
{% endblock %} {% block css %} {{ super() }} {% endblock %} {% block header %} {{ super() }} {% endblock %} {% block main %}
<!-- main-area -->
<main>
    <div class="checkout-area pt-90 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="shop-cart-total order-summary-wrap" id="meet_list">
                        <h3 class="title">我的消息</h3>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="checkout-form-wrap" id="textbox">
                        
                            {% if receiver=="80000000" %}
                            <h4 style="color:#C00000"> 系统通知</h4>
                            {% else %}
                            <h4>{{ receiver }}</h4>
                            {% endif %}

                            <div class="contact-info-wrap" id="chat" style="height:300px;overflow:auto;">
                            </div>
                            <br><br>
                                <input id="text" size="50" placeholder="Enter your message here"><br><br>
                                
                                <div class="continue-shopping">
                                    <form action="javascript:void(0)">
                                        <input type="file" id="file" style="display: none" onchange="uploadImg()"/>
                                        <button href="javascript:void(0)" onclick="selectImg()" class="btn">上传图片</button>
                                    </form>
                                </div>
                                <div>
                                    <img src="" id="preview" style="height:150px"/>
                                </div>
                                <a href="#" onclick="leave_room();">Leave this room</a>
                    </>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- main-area-end -->
{% endblock %} {% block footer %} {{ super() }} {% endblock %} {% block js %} {{ super() }}
<script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket;
    var room = '{{ room|safe }}';
    var sender='{{ sender|safe }}';
    var receiver = '{{ receiver|safe }}';

    $(document).ready(function () {
        if (sender!="" && sender==receiver)
        {
            alert("不能给自己发消息哦~");
            window.location.href = "{{ url_for('chat.index') }}";
        }
        if (room=="")
        {   $('#textbox').after("<span>您还未选中聊天室</span>")
            $('#textbox').hide();
        }

        socket = io.connect('ws://' + document.domain + ':' + location.port + '/chat');
        socket.on('connect', function () {
        let cur_time = new Date(new Date().getTime()).toLocaleString();
        socket.emit('joined', { time: cur_time, room: room, receiver: receiver });
        });
        socket.on('disconnect', function () {
            socket.emit('left', { room: room }, function () {
                socket.disconnect();
            });
        }); 
        socket.on('message', function (data) {
            let name = data.other_user;
            let sname= name;
            let color="#516583"
            if (data.sender=="80000000"){
                sname="系统通知";
                color="#C00000";
            }
            if (data.type==0)
            {
                let str=`<span> ${data.time}</br>${sname}:${data.msg}</br></span>`
                $('#chat').append(str);
            }
            else
            {
                let str=`
                <span> ${data.time}</br>${sname}:
                    <a href='/chat/static/resource/temp/${room}/${data.msg}' target=_blank>
                    <img style="width:100px" src='/chat/static/resource/temp/${room}/${data.msg}'/>
                </br>
                </span>`
                $('#chat').append(str);
            }
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
            if (`#chat_${name}`.length>0)
                $(`#chat_${name}`).html(data.msg);
            else
            {
                let last_msg=data.msg
                let str=`  
                        <div class="os-products-item">
                            <div class="thumb">
                                <a href="/user/${name}/user_info"><img src="{{url_for('static',filename='img/product/os-products-thumb.jpg')}}" alt=""></a>
                            </div>
                            <div class="content">
                                <h6 class="title">
                                    <a href="/chat/${name}" style="color:${color}">${sname}</a>
                                </h6>
                                <span class="price" id="chat_${name}">${last_msg}</span>
                            </div>
                            <div class="remove">x</div>
                        </div>`;
                        $("#meet_list").append(str);
            }
        });
        
        $('#text').keypress(function (e) {
            var code = e.keyCode || e.which;
            let cur_time = new Date(new Date().getTime()).toLocaleString();
            if (code == 13) {
                text = $('#text').val();
                $('#text').val('');
                if (text != "")
                    socket.emit('text', { msg: text, time: cur_time, receiver: receiver, room: room, type: "text" });
            }
        });
        window.addEventListener('beforeunload', function (event) {  // or 'unload'
            navigator.sendBeacon("/chat/close", room);
            // more safely (optional...?)
            var until = new Date().getTime() + 500;
            while (new Date().getTime() < until);
        });
    
        $.ajax({
            type: "GET",
            url: "/api/get_meet_list",
            success: function (ret) {
                if(ret.statusCode==200)
                {
                    let meet_list=ret.data.meet_list;
                    let last_msg_dict= new Array(); //定义一个字典
                        $.ajax({
                            type: "GET",
                            async: false,
                            url: "/api/get_last_msg",
                            success: function (ret) {
                                if(ret.statusCode==200)
                                    last_msg_dict=ret.data;
                                else
                                    alert(ret.message);
                            }
                        });
                    for (let i=0;i<meet_list.length;i++)
                    {
                        let name=meet_list[i];
                        let sname= name;
                        let color="#516583"
                        if (name=="80000000"){
                            sname="系统通知";
                            color="#C00000";
                        }
                        console.log(color)
                        let last_msg=last_msg_dict[name]['last_msg']
                        let str=`  
                        <div class="os-products-item" id="meet_${name}">
                            <div class="thumb">
                                <a href="/user/${name}/user_info"><img src="{{url_for('static',filename='img/product/os-products-thumb.jpg')}}" alt=""></a>
                            </div>
                            <div class="content">
                                <h6 class="title">
                                    <a href="/chat/${name}" style="color:${color}">${sname}</a>
                                </h6>
                                <span class="price" id="chat_${name}">${last_msg}</span>
                            </div>
                            <div class="remove" onclick="deldiv(${name})">x</div>
                        </div>`;
                        $("#meet_list").append(str);
                    }
                }
                else
                    alert(ret.message);
            }
        });
    });
    function deldiv(name)
    {   
        $(`#meet_${name}`).remove();
        $.ajax({
            type: "DELETE",
            url: "/api/del_meet",
            data: JSON.stringify({user_id:name}),
            contentType: "application/json;charset=utf-8",
            processData: false,
            success: function (ret) {
                if(ret.statusCode==200)
                {
                    window.location.href = "{{ url_for('chat.index') }}";
                }
                else
                    alert(ret.message);
            }
        });
    }
    function selectImg(){
        $("#file").click(); // 相当于模拟点击一下选择图片按钮
    }
    function uploadImg() {
        var file = $("#file")[0].files[0];
        console.log(file)
        //objUrl = getObjectURL($("#file")[0].files[0]); // 展示用户选择的图片
        //1.需要向socketio的后台发送post请求，提交url，在聊天记录中添加对应记录
        //2.在读取消息时，需要按照消息类型，分别从不同的地方读取，比方说文本信息可以从message直接取，图片信息要根据url查询得到
        if (file) {
            // console.log("开始上传图片：" + file.name);
            var formData = new FormData();
            formData.append("file",file);
            formData.append("room",room);
            formData.append("sender",sender);
            formData.append("receiver",receiver);
            var debug = 0;
            if (debug == 0) {
                $.ajax({
                    url: "/api/post_chat_pic",
                    type: "post",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (ret) {
                        if (ret.statusCode == 200) {
                            console.log(ret.message);
                            md5 = ret.data;
                            //updatePage(objUrl, md5);
                        } else alert(ret.message);
                    },
                });
            } else {
                md5 = Math.random().toString(36).substr(2);
                //updatePage(objUrl, md5);
            }
        } else alert("未选择图片！");
    }
    function leave_room() {
        socket.emit('left', { room: room }, function () {
            socket.disconnect();
            // go back to the index page
            window.location.href = "{{ url_for('user.index') }}";
        });
    }
</script>
{% endblock %}
