{% extends "base.html" %} {% block title %}
<title>同济大学跳蚤市场</title>
{% endblock %} {% block css %} {{ super() }} {% endblock %} {% block header %} {{ super() }} {% endblock %} {% block main %}
<main>
    <a href="#" id="item_tag_">[商品标签]</a>
    <button onclick="my_func()"></button>
    <img src="{{url_for('item.static', filename='resource/item_pic/{item_id}/head/{pic_list[0]}')}}" />
</main>
{% endblock %} {% block footer %} {{ super() }} {% endblock %} {% block js %} {{ super() }}

<script type="text/javascript" charset="utf-8">
    var keyword = "{{ keyword|safe }}"; // 如果有python传过来的
    var debug = 1;

    function my_func() {
        var a = 1;
        url = "/api/something1";
        if (debug) url = `http://127.0.0.1:4523/mock/927026${url}`;
        $.ajax({
            url: url,
            type: "post",
            data: JSON.stringify({ key: value }),
            async: false, // important
            contentType: "application/json;charset=utf-8",
            processData: false,
            success: function (ret) {
                a = 2;
            },
        });
        return a;
    }

    $(document).ready(function () {
        url = "/api/something2";
        if (debug) url = `http://127.0.0.1:4523/mock/927026${url}`;
        $.ajax({
            url: url,
            type: "post",
            data: JSON.stringify({ key: value }),
            contentType: "application/json;charset=utf-8",
            processData: false,
            success: function (ret) {
                $("#item_tag_").text(ret.something);
            },
        });
    });
</script>

{% endblock %}
