{% extends "base.html" %} {% block title %}
<title>反馈清单</title>
{% endblock %} {% block css %} {{ super() }} {% endblock %} {% block header %} {{ super() }} {% endblock %} {% block
main %}
<main>

</main>
{% endblock %} {% block footer %} {{ super() }} {% endblock %} {% block js %} {{ super() }}

<script type="text/javascript" charset="utf-8">
    var debug = 0;
    $(document).ready(function () {
        let url = "/api/get_reports";
        if (debug) url = `http://127.0.0.1:4523/mock/927026${url}`;
        $.ajax({
            // json形式
            url: url,
            type: "get",
            success: function (ret) {
                if (ret.statusCode == 200) {
                    let main = $("main");
                    for (var i in ret.data) {
                        main.append(`<div id=report${i}></div>`);
                        let repost_list = $(`#report${i}`);
                        repost_list.append(`<p>${i}</p>`)
                        for (var j = 0; j < ret.data[i].length; j++) {
                            repost_list.append(`<span><a href=/admin/feedback/${ret.data[i][j]}/>查看反馈${ret.data[i][j]}</a></span>`);
                        }
                    }
                }
            },
        });
    });
</script>

{% endblock %}