<html>

<head>
  <script>
    function recall() {
      window.location.href = "{{url_for('item.index')}}";
    }
    function show() {
      var f = document.getElementsByName("pic");
      console.log(f.files);
    }
  </script>
</head>

<body>
  <p>HTML:Hello world!</p>
  <form role="form" class="text-center" method="POST">
    <div>
      <div class="pic">
        <input type="file" name="pic" multiple="multiple" accept="image/* " onload="show()">
      </div>
      <table>
        <tr>
          <td>
            名称
          </td>
          <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td>类别</td>
          <td><input type="radio" name="type" value="0">商品
            <input type="radio" name="type" value="1">悬赏
          </td>
        </tr>
        <tr>
          <td>
            价格
          </td>
          <td>
            <input type="text" name="price">
          </td>
        </tr>
        <tr>
          <td>数量</td>
          <td>
            <input type="text" name="shelved_num">
          </td>
        </tr>
        <tr>
          <td>详细描述</td>
          <td>
            <input type="text" name="description">
          </td>
        </tr>
      </table>
    </div>
    <div>
      <button type="submit">确认发布</button>
      <button type="reset" onclick="recall()">取消发布</button>
    </div>
  </form>
</body>

</html>