<html>

<head>
    <script>
        function jump() {
            window.location.href = "{{ url_for('item.publish')}}";
        }

    </script>
</head>

<body>
    <a href="{{ url_for('index')}}">返回主页</a>
    <button onclick="jump_to_goods()">
        发布商品
    </button>
    <button onclick="jump_to_want()">
        发布悬赏
    </button>
    <!-- <script>
        var data = eval("{{data|safe}}");
        console.log(data);
        console.log(typeof data);
        if (data["success"] == false) {
        window.alert(data["message"]);
        window.location.href = "{{ url_for('item.index') }}";
        }
        </script>
        -->
</body>

</html>