{% extends "base.html" %} {% block title %}
<title>同济大学跳蚤市场--商品详情</title>
{% endblock %} {% block css %} {{ super() }} {% endblock %} {% block header %} {{ super() }} {% endblock %} {% block main %}
<!-- main-area -->
<main>
    <!-- shop-details-area -->
    <section class="shop-details-area pt-90 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="shop-details-flex-wrap">
                        <div class="shop-details-nav-wrap">
                            <ul class="nav nav-tabs" id="myTab" role="tablist"></ul>
                        </div>
                        <div class="shop-details-img-wrap">
                            <div class="tab-content" id="myTabContent"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="shop-details-content">
                        <h4 class="title">商品名</h4>
                        <div class="shop-details-meta">
                            <ul>
                                <li>卖家 : <a href="#"><卖家名>[点击进入卖家个人空间]</a></li>
                                <li class="shop-details-review">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span><卖家用户分数></span>
                                </li>
                                <li>ID : <span><商品ID></span></li>
                            </ul>
                        </div>
                        <div class="shop-details-price">
                            <h2 class="price"><价格></h2>
                            <h5 class="stock-status">- 剩余<>件</h5>
                        </div>
                        <p><商品详情描述></p>
                        <div class="shop-details-list">
                            <ul>
                                <li>商品类型 : <span>[悬赏/售卖]</span></li>
                                <li>发布时间 : <span>[2022.05.29]</span></li>
                            </ul>
                        </div>
                        <div class="shop-perched-info">
                            <div class="sd-cart-wrap" id="non_seller_visible" hidden>
                                <form action="#">
                                    <div class="cart-plus-minus">
                                        <input type="text" value="1" />
                                    </div>
                                </form>
                            </div>
                            <a href="#" class="btn" id="non_seller_visible" hidden>生成订单</a>
                            <a href="#" class="btn" id="non_seller_visible" hidden>联系卖家</a>
                            <a href="#" class="btn" id="seller_visible" hidden>修改商品信息</a>
                            <a href="#" class="btn" id="seller_visible" hidden>下架商品</a>
                            <a href="#" class="btn" id="manager_visible" hidden>强制下架商品</a>
                        </div>
                        <div class="shop-details-bottom">
                            <h5 class="title">
                                <a href="#"><i class="far fa-heart"></i> 加入收藏</a>
                            </h5>
                            <ul>
                                <li>
                                    <span>Tag : </span>
                                    <a href="#">[商品标签1]</a>
                                    <a href="#">[商品标签2]</a>
                                </li>
                                <!--
                                <li>
                                    <span>CATEGORIES :</span>
                                    <a href="#">women's,</a>
                                    <a href="#">bikini,</a>
                                    <a href="#">tops for,</a>
                                    <a href="#">large bust</a>
                                </li>
                                -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- best-sellers-area-end -->
</main>
<!-- main-area-end -->
{% endblock %} {% block footer %} {{ super() }} {% endblock %} {% block js %} {{ super() }} {% endblock %}
