<html>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

<body>
  <table>
    <tr>
      <td>请输入搜索内容</td>
      <td><input type="text" id="key_word"></td>
    </tr>
    <button onclick="search()">测试</button>
  </table>
</body>
<script>
  function search() {
    var data = { 'search_type': "goods", 'order_type': "price" };
    data['key_word'] = document.getElementById("key_word").value;
    $.ajax({
      type: "POST",
      url: "/api/search",
      data: data,
      success: function (result) {
        console.log(result);
      }
    })
  }
</script>

</html>