<html>

<head>
    <script>
        function jump() {
            window.open("{{ url_for('order.generate',type_name=data.type,item_id=data.item_id)}}");
        }
    </script>
</head>

<body>
    <a href="{{ url_for('index')}}">返回主页</a>
    <div id="test">
        {% if data.isAdmin == false and data.isPub == false%}
        <button onclick="jump()">
            {% if data.type==goods %}
            购买商品
            {% else %}
            接取悬赏
            {% endif %}
        </button>
        <button>
            聊天
        </button>
        {% else %}
        {% if data.isPub == true %}
        <button>修改</button>
        {% endif %}
        {% if data.isAdmin == true %}
        <button>聊天</button>
        {% endif %}
        {% endif %}
    </div>

</body>

</html>