{% extends "base.html" %} {% block title %}
<title>我的订单</title>
{% endblock %} {% block css %} {{ super() }} {% endblock %} {% block header %} {{ super() }} {% endblock %} {% block main %}
<!-- main-area -->
<main>
    <!-- cart-area -->
    <div class="cart-area pt-90 pb-90">
        <div class="container">
            <!-- <div class="row justify-content-center"> -->
            <div class="cart-wrapper">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th class="product-thumbnail"></th>
                                <th class="product-name">图片</th>
                                <!-- <th class="product-price">Price</th> -->
                                <th class="product-quantity">设为头图</th>
                                <!-- <th class="product-subtotal">SUBTOTAL</th> -->
                                <th class="product-delete"></th>
                            </tr>
                        </thead>
                        <tbody id="auto_append"></tbody>
                    </table>
                </div>
            </div>
            <div class="shop-cart-bottom">
                <div class="cart-coupon">
                    <form action="javascript:void(0)">
                        <input type="file" id="file" style="display: none" />
                        <input type="text" id="show_file_name" placeholder="" readonly="readonly" disabled="disabled" />
                        <button href="javascript:void(0)" onclick="selectImg()" class="btn">选择图片</button>
                    </form>
                </div>
                <div class="continue-shopping">
                    <a href="javascript:void(0)" onclick="uploadImg()" class="btn">上传图片</a>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- cart-area-end -->
</main>
<!-- main-area-end -->
{% endblock %} {% block footer %} {{ super() }} {% endblock %} {% block js %} {{ super() }}

<script>
    function check_other_box(robj) {
        if (robj.checked == true)
            $("[id^=customCheck]").each(function (index, obj) {
                if (obj.id != robj.id) obj.checked = false;
            });
        else $("[id^=customCheck]")[0].checked = true;
    }

    function remove(robj) {
        $(robj).parent().parent().remove();
    }

    function get_urls() {
        var urls = { urls: [] };
        $("[id^=tr_]").each(function (index, obj) {
            urls["urls"].push({ url: $(obj).find("h4")[0].innerText, isdefault: $(obj).find("[id^=customCheck]")[0].checked });
        });
        console.log(urls);
    }

    function selectImg() {
        $("#file").click(); // 相当于模拟点击一下选择图片按钮
    }

    $("#file").on("change", function () {
        // console.log("选择了图片：" + this.files[0].name);
        $("#show_file_name").val(this.files[0].name);
    });

    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) url = window.createObjectURL(file); // basic
        else if (window.URL != undefined) url = window.URL.createObjectURL(file); // mozilla(firefox)
        else if (window.webkitURL != undefined) url = window.webkitURL.createObjectURL(file); // webkit or chrome
        return url;
    }

    function updatePage(objUrl, md5) {
        var str = `<tr id="tr_${md5}">
            <td class="product-thumbnail" id="product_thumbnail_${md5}"><img src=${objUrl} alt="" /></td>
            <td class="product-name"> <h4>${md5}</h4></td>
            <td class="product-quantity">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck_${md5}"
                        onclick="check_other_box(this)" />
                    <label class="custom-control-label" for="customCheck_${md5}"></label>
                </div>
            </td>
            <td class="product-delete"><a href="#" onclick="remove(this)"><i class="far fa-trash-alt"></i></a></td>
        </tr>`;
        $(auto_append).append(str);
    }

    function uploadImg() {
        var file = $("#file")[0].files[0];
        objUrl = getObjectURL($("#file")[0].files[0]); // 展示用户选择的图片
        if (file && objUrl) {
            // console.log("开始上传图片：" + file.name);
            var formData = new FormData();
            formData.append("file", file);
            var debug = 0;
            if (debug == 0) {
                $.ajax({
                    url: "/api/post_item_pic",
                    type: "post",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (ret) {
                        if (ret.statusCode == 200) {
                            console.log(ret.message);
                            md5 = ret.data;
                            updatePage(objUrl, md5);
                        } else alert(ret.message);
                    },
                });
            } else {
                md5 = Math.random().toString(36).substr(2);
                updatePage(objUrl, md5);
            }
        } else alert("未选择图片！");
    }
</script>

{% endblock %}
