<html>

<head>
  <script src="{{url_for('static',filename='js/vendor/jquery-3.6.0.min.js')}}"></script>
</head>

<body>
  <div>
    <img src="" id="show_img" style="width: 150px; height: 150px" />
    <input type="file" id="file" style="display: none" />
    <a href="javascript:void(0)" onclick="selectImg()">选择图片</a>
    <a href="javascript:void(0)" onclick="uploadImg()">上传</a>
    <!-- href="javascript:void(0) : 让超链接去执行一个js函数，而不是去跳转到一个地址-->
  </div>
</body>
<script>
  function selectImg() {
    $("#file").click(); // 相当于模拟点击一下选择图片按钮
  }

  $("#file").on("change", function () {
    // 当你想显示选择的图片时
    var objUrl = getObjectURL(this.files[0]);
    if (objUrl) $("#show_img").attr("src", objUrl);
  });
  function getObjectURL(file) {
    var url = null;
    if (window.createObjectURL != undefined) url = window.createObjectURL(file); // basic
    else if (window.URL != undefined) url = window.URL.createObjectURL(file); // mozilla(firefox)
    else if (window.webkitURL != undefined) url = window.webkitURL.createObjectURL(file); // webkit or chrome
    return url;
  }

  function uploadImg() {
    var file = $("#file")[0].files[0];
    console.log("开始上传图片：" + file);
    if (file) {
      var formData = new FormData();
      formData.append("file", file);
      $.ajax({
        url: "/api/post_item_pic",
        type: "post",
        data: formData,
        contentType: false,
        processData: false,
        success: function (res) {
          console.log("上传图片成功：" + JSON.stringify(res));
        },
      });
    }
  }
</script>


</html>