<html>
  <head>
    <title>用户注册</title>
    <link
      href="../static/css/bootstrap.min.css"
      rel="stylesheet"
      media="screen"
    />
  </head>
  <body>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <h3 class="text-center text-info">Login</h3>
          <form role="form" class="text-center" method="POST">
            <div class="form-group">
              <label for="user_id">User_id</label
              ><input
                type="username"
                class="form-control"
                id="user_id"
                name="user_id"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label
              ><input
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>
            <div class="form-group">
              <label for="remember_me">Remember me</label
              ><input
                type="checkbox"
                class="form-control"
                id="remember_me"
                name="remember_me"
              />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <br /><br /><br />
            <a href="{{url_for('register')}}">Register</a>
          </form>
        </div>
      </div>
      <div></div>
    </div>
  </body>
</html>
