<html>
  <head>
    <title>用户注册</title>
    <script src="../static/js/jquery.min.js"></script>
    <link
      href="../static/css/bootstrap.min.css"
      rel="stylesheet"
      media="screen"
    />
  </head>
  <body>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <h3 class="text-center text-info">Register</h3>
          <form action="" name="submit" method="POST">
            <div class="form-group">
              <label for="user_id">User_id</label
              ><input
                type="text"
                class="form-control"
                id="user_id"
                name="user_id"
              />
            </div>
            <label for="password">Password</label>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>
            <div class="form-group">
              <label for="is_admin">Admin</label
              ><input
                type="checkbox"
                class="form-control"
                id="is_admin"
                name="is_admin"
              />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <br /><br /><br />
            <a href="{{url_for('login')}}">Login</a>
          </form>
        </div>
      </div>
      <div></div>
    </div>
  </body>
</html>
