<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Bootstrap Example</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <script src="../static/js/vendor/jquery-3.6.0.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
	<h4>模拟数据查询，查询失败显示一个模态框，1.2秒后自动消失</h4>
	<button type="button" class="btn" onclick="suspend('alert-danger')">查询失败</button>
	<button type="button" class="btn" onclick="suspend('alert-success')">成功</button>
	<button type="button" class="btn" onclick="suspend('alert_warning')">警告</button>
	<button type="button" class="btn" onclick="suspend('alert_info')">信息提示</button>
	<button type="button" class="btn" onclick="suspend('alert_info2')">信息提示2</button>
</div>
<script>

    var prompt = function (message, style, time) {
        style = style === undefined ? "alert-success" : style;
        time = time === undefined ? 1200 : time;
        $('<div id="promptModal">')
            .appendTo("body")
            .addClass("alert " + style)
            .css({
                display: "block",
                "z-index": 99999,
                width:"75%",
                left: ($(document.body).outerWidth(true) - 120) / 8,
                top: "10px",
                position: "absolute",
                padding: "20px",
                "border-radius": "5px",
            })
            .html(message)
            .hide()
            .fadeIn(200,function()
            {
                $("#promptModal").show();
            })
            .delay(time)
            .fadeOut(200, function () {
                $("#promptModal").remove();
            });
    };
    // 成功提示
    var success_prompt = function (message, time) {
        prompt(message, "alert-success", time);
    };
    
    // 失败提示
    var fail_prompt = function (message, time) {
        prompt(message, "alert-danger", time);
    };
    
    // 提醒
    var warning_prompt = function (message, time) {
        prompt(message, "alert-warning", time);
    };
    
    // 信息提示
    var info_prompt = function (message, time) {
        prompt(message, "alert-info", time);
    };
    
    // 信息提示
    var alert_prompt = function (message, time) {
        prompt(message, "alert-pormpt", time);
    };
    
	function suspend(str,message=""){
		switch(str){
			case "alert-success": success_prompt(message!=""?message:"提交成功");break;
			case "alert_warning": warning_prompt(message!=""?message:"错误警告");break;
			case "alert-danger": fail_prompt(message!=""?message:"提交失败");break;
			case "alert_info":	info_prompt(message!=""?message:"未查询到数据");break;
            case "alert_info2":	info_prompt(message!=""?message:"未查询到数据");break;
			default:alert_prompt("未查询到数据");
		}
		
	}
</script>
</body>
</html>